<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Basic</h4>
            <app-basic></app-basic>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Min Max</h4>
            <app-min-max></app-min-max>
        </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                <h4>Start View and Update at End</h4>
                <app-start-view-update-at-end></app-start-view-update-at-end>
            </div>
        </div>
</div>
