<div (click)="show()">{{ globals.moment.format('YYYY-MM-DD HH:mm') }}</div>

<div *ngIf="open">
    <app-decade-component *ngIf="currentView === viewStates.Decade" (selectEmitter)="next()"
        (titleEmitter)="previous()"></app-decade-component>
    <app-year-component *ngIf="currentView === viewStates.Year" (selectEmitter)="next()"
        (titleEmitter)="previous()"></app-year-component>
    <app-month-component *ngIf="currentView === viewStates.Month" (selectEmitter)="next()"
        (titleEmitter)="previous()"></app-month-component>
    <app-date-component *ngIf="currentView === viewStates.Date" (selectEmitter)="next()"
        (titleEmitter)="previous()"></app-date-component>
    <app-hour-component *ngIf="currentView === viewStates.Hour" (selectEmitter)="next()"
        (titleEmitter)="previous()"></app-hour-component>
    <app-minute-component *ngIf="currentView === viewStates.Minute" (selectEmitter)="next()"
        (titleEmitter)="previous()"></app-minute-component>
</div>
