<div (click)="open =! open">{{ globals.moment.format('YYYY-MM-DD HH:mm') }}</div>

<div *ngIf="open">
    <app-decade-component *ngIf="currentView === viewStates.Decade" (selectEmitter)="decadeSelected()"
        (titleEmitter)="titleSelected()"></app-decade-component>
    <app-year-component *ngIf="currentView === viewStates.Year" (selectEmitter)="yearSelected()"
        (titleEmitter)="titleSelected()"></app-year-component>
    <app-month-component *ngIf="currentView === viewStates.Month" (selectEmitter)="monthSelected()"
        (titleEmitter)="titleSelected()"></app-month-component>
    <app-date-component *ngIf="currentView === viewStates.Date" (selectEmitter)="dateSelected()"
        (titleEmitter)="titleSelected()"></app-date-component>
    <app-hour-component *ngIf="currentView === viewStates.Hour" (selectEmitter)="hourSelected()"
        (titleEmitter)="titleSelected()"></app-hour-component>
    <app-minute-component *ngIf="currentView === viewStates.Minute" (selectEmitter)="minuteSelected()"
        (titleEmitter)="titleSelected()"></app-minute-component>
</div>
